@{
    ViewData["Title"] = "Home";
}

<h1>FAST Equipment Tool</h1>
<p>Welcome to the FAST IT equipment borrowing tool. You can request IT equipment for a limited time as a student or professor.</p>

<!-- The menu is already included in the layout page -->
