@model IEnumerable<BorrowingApp_Assign1.Models.Equipment>

<h1>Available Equipment</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Type</th>
            <th>Description</th>
            <th>Available</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Type</td>
                <td>@item.Description</td>
                <td>
                    <span class="badge badge-success">Yes</span>
                </td>
            </tr>
        }
    </tbody>
</table>
